.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(26, 53, 75);

    .app-title {
        margin-left: 10%;
        font-weight: normal;
        color: whitesmoke;
    }
}